---
layout: default
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    His citation profile in <a href="{{site.author.googlescholar}}" target="_blank">Google Scholar</a>.
  </div>
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}

<h2>Recent Publications</h2>
<ul class="publications-list">
  {% for pub in pubs %}
    <li>
      <strong>
        {% if pub.paperurl %}
          <a href="{{ pub.paperurl }}" target="_blank">{{ pub.title }}</a>
        {% else %}
          {{ pub.title }}
        {% endif %}
      </strong><br>
      {% if pub.venue %}
        <em>{{ pub.venue }}</em>,
      {% endif %}
      {{ pub.date | date: "%Y" }}.
      {% if pub.citation %}
        <br><small>{{ pub.citation }}</small>
      {% endif %}
    </li>
  {% endfor %}
</ul>
